{% set theme = theme ?? null -%}
{% set dark = dark ?? true -%}
{% set colorful = colorful ?? false -%}
{% set flash = flash ?? null %}
<div class="panel {{- theme ? ' panel-' ~ theme }} {{- dark ? ' panel-dark' }} {{- colorful ? ' panel-body-colorful' }} {{- flash ? ' panel-flash-' ~ flash }}">
    <div class="panel-heading">
        <span class="panel-title">{% block title '&nbsp;' %}</span>
        <div class="panel-heading-controls">
            {% block controls %}
                <button class="btn btn-xs btn-outline" data-ruwidget="reload"><i class="fa fa-refresh"></i></button>
            {% endblock %}
        </div>
    </div>
    <div class="panel-body">
        {% block body '' %}
    </div>
    {% set footer %}{% block footer '' %}{% endset %}
    {% if footer is not empty %}
        <div class="panel-footer sticky-bottom">{{ footer|raw }}</div>
    {% endif %}
</div>
