{% form_theme form '@RuworkAdmin/forms.html.twig' -%}

{{- form_start(form, {
    attr: {class: 'panel'},
    frujax: {
        replace: '$el',
        'aon-start': "$el.closest('.panel-body').addClass('form-loading')",
        'aon-complete': "$el.closest('.panel-body').removeClass('form-loading')"
    }
}) }}
<div class="panel-heading">
    <span class="panel-title">{% block title '' %}</span>
    <div class="panel-heading-controls">{% block controls '' %}</div>
</div>
{% block content %}
    {% if not form.vars.submitted %}
        {% block if_not_submitted %}
            <div class="panel-body p-b-0">
                {{- form_rest(form) -}}
            </div>
            <div class="panel-footer">
                {% block buttons %}
                    <button type="submit" class="btn btn-primary">{% block submit_label 'Сохранить' %}</button>
                {% endblock %}
            </div>
        {% endblock %}
    {% else %}
        {% block if_submitted %}
            {% if form.vars.valid %}
                {% block if_valid %}
                    {{ block('if_not_submitted') }}
                {% endblock %}
            {% else %}
                {% block if_not_valid %}
                    {{ block('if_not_submitted') }}
                {% endblock %}
            {% endif %}
        {% endblock %}
    {% endif %}
    {% if form.vars.submitted %}
        {% if form.vars.valid %}
            <div class="px-block-alerts" data-close-after="2000">
                <div class="alert alert-success alert-dark fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Сохранено</strong>
                </div>
            </div>
        {% else %}
            <div class="px-block-alerts">
                <div class="alert alert-danger alert-dark">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>При сохранении возникли ошибки</strong>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{{ form_end(form, {render_rest: false}) }}
