{% set theme = theme ?? null -%}
{% set dark = dark ?? true -%}
{% set colorful = colorful ?? false -%}
{% set flash = flash ?? (form.vars.submitted ? (form.vars.valid ? 'success' : 'danger') : null) %}
{% form_theme form with form_themes|default(['@RuworkAdmin/forms.html.twig']) -%}
{{ form_start(form, {frujax: {method: form.vars.method, parent: "=this.closest('[data-ruwidget]')"}}) }}
<div class="panel {{- theme ? ' panel-' ~ theme }} {{- dark ? ' panel-dark' }} {{- colorful ? ' panel-body-colorful' }} {{- flash ? ' panel-flash-' ~ flash }}">
    <div class="panel-heading">
        <span class="panel-title">{% block title '&nbsp;' %}</span>
        <div class="panel-heading-controls">
            {% block controls %}
                <button class="btn btn-xs btn-outline" data-ruwidget-reload><i class="fa fa-refresh"></i></button>
            {% endblock %}
        </div>
    </div>
    <div class="panel-body">
        {% block body %}
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        {% endblock %}
    </div>
    <div class="panel-footer sticky-bottom">
        {% block footer %}
            <button class="btn btn-primary" type="submit">{% block button 'Сохранить' %}</button>
        {% endblock %}
    </div>
</div>
{{ form_end(form) }}
