{% set theme = theme ?? null -%}
{% set dark = dark ?? true -%}
{% set colorful = colorful ?? false -%}
{% set flash = flash ?? (length is defined and length is same as(0) ? 'info' : null) %}
<div class="panel {{- theme ? ' panel-' ~ theme }} {{- dark ? ' panel-dark' }} {{- colorful ? ' panel-body-colorful' }} {{- flash ? ' panel-flash-' ~ flash }}">
    <div class="panel-heading">
        <span class="panel-title">{% block title '&nbsp;' %}</span>
        <div class="panel-heading-controls">
            {% block controls %}
                <button class="btn btn-xs btn-outline" data-ruwidget-reload><i class="fa fa-refresh"></i></button>
            {% endblock %}
        </div>
    </div>
    {% if filter is defined %}
        <div class="panel-filter sticky-top">
            {% block filter %}
                {% form_theme filter filter_theme|default('@RuworkAdmin/forms.html.twig') -%}
                {{ form_start(filter) }}
                {{ form_rest(filter) }}
                <button type="submit" class="btn btn-primary">Фильтровать</button>
                <button class="btn" data-ruwidget-reload>Очистить</button>
                {{ form_end(filter) }}
            {% endblock %}
        </div>
    {% endif %}
    {% if length is defined and length is same as(0) %}
        <div class="panel-body">Объекты отсутствуют</div>
    {% else %}
        <div class="table-responsive">
            {% block table '' %}
        </div>
    {% endif %}
    {% set footer %}{% block footer '' %}{% endset %}
    {% if footer is not empty %}
        <div class="panel-footer sticky-bottom">{{ footer|raw }}</div>
    {% endif %}
</div>
